<!DOCTYPE html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

{% autoescape true %}
<html>
  <body>
    <a href="{{ url|safe }}">{{ url_linktext }}</a>

    <hr>

    <p>Product to comapre:<p>

    <form action="/compare" method="get">
      <div><input type='text' name="product" size="30" value=" {{ product }} "></div>
      <div><input type="submit" value="Find offers"></div>
    </form>

    <hr>
    <p>Most popular searches:</p>
    {% for search_cache in most_popular_search %}
      <p>
        {{ search_cache.product_name }} : {{ search_cache.search_count }}
      </p>
    {% endfor %}
  </body>
</html>
{% endautoescape %}