<!DOCTYPE html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/main.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/lightbox-2.6.min.js"></script>
  <link type="text/css" href="css/lightbox.css" rel="stylesheet" />
</head>


{% autoescape true %}
<html>
  <body>
    Hello {{ nick }}! <a href="{{ url|safe }}">{{ url_linktext }}</a>

    <hr>

    <div id="show_products">
    </div>

    <hr>

    <p>Product to comapre:<p>

    <form action="/" method="post" id="form_find_offer">
      <div><input type="text" name="product" size="30" value="{{ product_name }}"></div>
      <div><input type="submit" id="btn_find_offer" value="Find offers"></div>
    </form>
    
    <script language="javascript" type="text/javascript">
      //http://stackoverflow.com/questions/5004233/jquery-ajax-post-example
      $("#form_find_offer").submit(function(event){
          
          // setup some local variables
          var $form = $(this);
          var serializedData = $form.serialize();

          var $inputs = $form.find("input, select, button, textarea");
          // let's disable the inputs for the duration of the ajax request
          $inputs.prop("disabled", true);

          // fire off the request to /form.php
          request = $.ajax({
            url: "/",
            type: "post",
            cache: false,
            data: serializedData
          });

          // callback handler that will be called on success
          request.done(function (response, textStatus, jqXHR){
            var output = JSON.stringify(response);
            if (response.product!=''){
              $("#show_products").html('');
              $("#show_products").append('<p>You look for: '+response.product+'</p>');
              $("#show_products").append('<p>The best offer from nokaut.pl:</br>');
              $("#show_products").append(response.nokaut_price+' PLN ');
              $("#show_products").append('<a href="'+response["nokaut_url"]+'"> '+response.nokaut_url+' </a>');
              $("#show_products").append('</p>');
              $("#show_products").append('<p>The best offer from allegro.pl:</br>');
              $("#show_products").append(response.allegro_price+' PLN ');
              $("#show_products").append('<a href="'+response.allegro_url+'"> '+response.allegro_url+' </a>');
              $("#show_products").append('</p>');
            }
          });
          

          // callback handler that will be called on failure
          request.fail(function (jqXHR, textStatus, errorThrown){
            $("#show_products").html('');
            $("#show_products").append('<p>Sorry. Something is wrong</p>');
            alert(errorThrown);
          });

          // callback handler that will be called regardless
          // if the request failed or succeeded
          request.always(function () {
            // reenable the inputs
            $inputs.prop("disabled", false);
          });

          // prevent default posting of form
          event.preventDefault();
        });  
    </script>

    <hr>

    <p>
    Your last searches: </br>
    {% for search in last_searches %}
      <a href="/?product={{ search.product_name.lstrip().rstrip()|urlencode }}"> {{ search.product_name }} </a> </br>
    {% endfor %}
    </p>

    <hr>
    <p>Most popular searches:</p>
    {% for search_cache in most_popular_search %}
      <p>
        {{ search_cache.product_name }} : {{ search_cache.search_count }}
      </p>
    {% endfor %}

    <a href="img/demopage/image-1.jpg" data-lightbox="image-1" title="My caption"><img src="img/demopage/thumb-1.jpg" alt="Test Image" height="150" width="150" /> </a>
  </body>
</html>
{% endautoescape %}