<!DOCTYPE html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>


{% autoescape true %}
<html>
  <body>
    Hello {{ nick }}! <a href="{{ url|safe }}">{{ url_linktext }}</a>

    <hr>

    <div id="show_products">
    </div>

    {% if product_name != '' %}
      <p>You look for: {{ product_name }}</p>
      <p>The best offer from nokaut.pl:</br>
          {{ nokaut_price }} PLN <a href="{{ nokaut_url }}"> {{ nokaut_url }} </a>
      </p>
      <p>The best offer from allegro.pl:</br>
          {{ allegro_price }} PLN <a href="{{ allegro_url }}"> {{ allegro_url }} </a>
      </p>

      <hr>
    {% endif %}

    <p>Product to comapre:<p>

    <form action="/" method="post" id="formFindOffer">
      <div><input type="text" name="product" size="30" value="{{ product_name }}"></div>
      <div><input type="submit" id="btnFindOffer" value="Find offers"></div>
    </form>
    
    <script language="javascript" type="text/javascript">
      
      $("#show_products").append('<p>Products:</p>');
    
    </script>

    <hr>

    <p>
    Your last searches: </br>
    {% for search in last_searches %}
      <a href="/?product={{ search.product_name.lstrip().rstrip()|urlencode }}"> {{ search.product_name }} </a> </br>
    {% endfor %}
    </p>

    <hr>
    <p>Most popular searches:</p>
    {% for search_cache in most_popular_search %}
      <p>
        {{ search_cache.product_name }} : {{ search_cache.search_count }}
      </p>
    {% endfor %}
  </body>
</html>
{% endautoescape %}