<!DOCTYPE html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

{% autoescape true %}
<html>
  <body>

    Hello {{ nick }}! <a href="{{ url|safe }}">{{ url_linktext }}</a>

    <hr>

    <p>You look for: {{ product_name }}</p>

    <p>The best offer from nokaut.pl:</br>
        {{ nokaut_price }} PLN <a href="{{ nokaut_url }}"> {{ nokaut_url }} </a>
    </p>
    <p>The best offer from allegro.pl:</br>
        {{ allegro_price }} PLN <a href="{{ allegro_url }}"> {{ allegro_url }} </a>
    </p>

    <hr>

    <p>Product to comapre:<p>

    <form action="/compare" method="get">
      <div><input type='text' name="product" size="30" value="{{ product_name }}"></div>
      <div><input type="submit" value="Find offers"></div>
    </form>

    <hr>

    <p>
    Your last searches:
    {% for search in last_searches %}
      <a href="/compare?product={{ search.product_name.lstrip().rstrip()|urlencode }}"> {{ search.product_name }} </a> </br>
    {% endfor %}
    </p>

  </body>
</html>
{% endautoescape %}
